:root {
    --color-white-100: #fff;
    --color-black-900: #000;
    --color-gray-010: rgba(129, 145, 154, 0.4);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* word-wrap: break-word; */
}

header {
    background-color: black;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: .1rem;
}

::-webkit-scrollbar-thumb {
    border-radius: .5rem;
    background: var(--color-white-100);
}