/* Header */
@media (min-width: 65rem) {
    header {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 30rem;
        background-image: url("../media/images/header/Gentse-feesten-03.jpg");
        background-position: 35% 50%;
        background-size: cover;
    }
}

@media (min-width: 65rem) and (min-height: 38rem) {
    header {
        height: 90vh;
        max-height: 65rem;
    }

    header.short-version {
        height: 70vh;
        max-height: 45rem;
    }
}

header .background {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0 1.5rem;
}

header .logo {
    width: 15rem;
    max-width: 100%;
    height: 5rem;
    background-image: url("../media/images/icons/logo.svg");
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: contain;
}

/* Desktop navigation */
.navigation__desktop {
    display: none;
    padding-right: 1rem;
}

@media (min-width: 65rem) {
    /* Activate desktop mode */
    .navigation__desktop {
        display: unset;
    }

    .navigation__mobile {
        display: none;
    }
}

/* Header: Mobile navigation. */
.content ul {
    list-style: none;
}

.navigation__mobile .content span,
.navigation__mobile .content a,
.navigation__mobile .content button {
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;
    color: white;
    border: none;
    background-color: unset;
}


.navigation__mobile .content span:hover,
.navigation__mobile .content a:hover,
.navigation__mobile .content button:hover {
    text-decoration: underline;
}


.navigation__mobile .content {
    font-size: 2rem;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-y: scroll;
    width: 100%;
    height: 100vh;
    padding-left: 2rem;
    background-color: var(--color-black-900);
}

.navigation__mobile .content > ul > * {
    margin: 2rem 0;
}

/* Hamburger Menu */
.hamburger {
    width: 4rem;
    height: 4rem;
    border: unset;
    background-color: unset;
    background-image: url("../media/images/icons/hamburger.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.hamburger.close {
    position: fixed;
    z-index: 100;
    right: 0;
    order: 100;
    transition: transform .3s ease-in-out;
    background-image: url("../media/images/icons/cross.svg");
}

.hamburger.close:hover {
    transform: rotate(180deg);
}

.navigation__mobile .program > ul {
    overflow: hidden;
    max-height: 55rem;
    padding-left: 3rem;
    transition: max-height .5s ease-in-out, margin .6s ease-in-out;
    border-left: .4rem solid var(--color-white-100);
}

.navigation__mobile .program > ul * {
    font-weight: normal;
    margin: 2rem 0;
}

.navigation__mobile .program:not(.close) > ul {
    margin: 2rem 0;
    transition: max-height .5s ease-in-out;
}

.navigation__mobile .program.close > *:not(button) {
    max-height: 0;
}

.navigation__mobile .program button {
    display: flex;
}

.navigation__mobile .program button .short-arrow {
    display: block;
    width: 2rem;
    height: 2rem;
    margin: .65rem 1rem;
    transition: transform .2s ease-in-out;
    background-image: url("../media/images/icons/arrow-down.svg");
    background-size: cover;
}


.navigation__mobile .program.close button .short-arrow {
    transform: rotate(180deg);
}

@media (min-width: 65rem) {
    header .days,
    header .find {
        display: flex;
        justify-content: flex-end;
    }

}

.main-navigation ul {
    display: flex;
    justify-content: flex-end;
    padding-top: 1.5rem;
    list-style: none;
}

.main-navigation li {
    margin-left: 2rem;
}

.main-navigation a {
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--color-white-100);
}

.main-navigation li::after {
    display: block;
    width: 0;
    height: .2rem;
    margin: .4rem auto 0;
    content: "";
    transition: background-color .2s ease-in-out, width .2s ease-in-out;
}

.main-navigation li:hover::after,
.main-navigation li.active::after {
    width: 2rem;
    background-color: var(--color-white-100);
}

/* Header: Find */
header .find {
    padding: 1rem;
    background-color: var(--color-white-100);
}

header.short-version .find {
    position: relative;
}

@media (min-width: 65rem) {
    /* Find */
    header .find {
        height: 8.5rem;
        background-color: unset;
    }
}

header .find svg {
    display: block;
    max-width: 100%;
    fill: var(--color-black-900)
}

@media (min-width: 65rem) {
    header .find svg {
        position: relative;
        display: inline-block;
        fill: var(--color-white-100)
    }
}

header .find .svg_gentse-feesten {
    width: 7rem;
}

@media (min-width: 65rem) {
    header:not(.short-version) .find .svg_gentse-feesten {
        bottom: .7rem;
        left: -5.3rem;
        transform: rotate(-90deg);
    }

    header.short-version .find .svg_gentse-feesten {
        position: absolute;
        right: 1rem;
        bottom: 1rem;
    }
}

header .find .svg_find-out {
    width: 20rem;
}

@media (min-width: 65rem) {
    header:not(.short-version) .find .svg_find-out {
        bottom: -.5rem;
        left: -6.5rem;
    }

    header.short-version .find .svg_find-out {
        position: absolute;
        right: 1rem;
        bottom: 3.5rem;
    }
}


@media (min-width: 65rem) and (min-height: 55rem) {
    header:not(.short-version) .find .svg_gentse-feesten {
        left: 1rem;
    }

    header:not(.short-version) .find .svg_find-out {
        left: -.2rem;
    }
}


.header_group {
    display: flex;
}

.header_group > *:not(:first-child) {
    margin-left: 2rem
}

.search-form {
    display: flex;
}

.search_input {
    width: 17rem;
    height: 2.5rem;
    padding: 1rem
}

header .language-selector {
    height: 2.5rem;
    padding: .8rem 0 .8rem;
    color: white;
    border: none;
    background-color: transparent;
}

header .language-selector option {
    background-color: var(--color-black-900);
}

.btn_search {
    width: 4.5rem;
    height: 2.5rem;
    border: none;
    background-color: var(--color-black-900);
    background-image: url("../media/images/icons/search.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40%;
}

/* Header: Days buttons */
header .days ul {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    list-style: none;
}

header .days li {
    font-size: 4vw;
    flex-grow: 1;
    width: 19.5vw;
    height: 19.5vw;
    transition: background-color .2s ease-in-out;
    text-align: center;
    background-color: var(--color-black-900);
}

@media (min-width: 47rem) {
    header .days li {
        font-size: 2vw;
        width: 9.5vw;
        height: 9.5vw;
    }
}

header .days li:hover,
header .days li.active {
    background-color: var(--color-white-100);
}

header .days li:hover a,
header .days li.active a {
    color: var(--color-black-900);
}

@media (min-width: 65rem) {
    header .days:not(.short-version) ul {
        width: 30rem;
        margin: 0 1rem 2rem;
    }

    header .days.short-version li,
    header .days:not(.short-version) li {
        font-size: 1rem;
        width: 6rem;
        height: 5rem;
    }

    header .days:not(.short-version) li {
        background-color: var(--color-white-100);
    }

    header .days:not(.short-version) li:hover {
        background-color: var(--color-black-900);
    }

    header .days:not(.short-version) li:hover a {
        color: var(--color-white-100);
    }
}

@media (min-width: 65rem) and (min-height: 55rem) {
    header .days:not(.short-version) ul {
        width: 12rem;
        margin: 0 1rem 2rem;
    }
}

header .days a {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    transition: color .2s ease-in-out;
    text-decoration: none;
    color: var(--color-white-100)
}

header .days.short-version {
    padding: 0 -1rem;
}

@media (min-width: 65rem) {
    header .days:not(.short-version) a {
        color: var(--color-black-900);
    }
}


header .days span {
    display: block;
}

header .days .header__days__day {
    font-weight: bold;
    display: block;
}


footer {
    width: 100%;
    height: 50vh;
    max-height: 60rem;
    color: var(--color-white-100);
    background-color: var(--color-black-900);
    background-image: url("../media/images/header/Gentse-feesten-01.jpg");
    background-repeat: no-repeat;
    background-position: 40% center;
    background-size: cover;
}

@media (min-width: 65rem) {
    footer {
        background-position: calc(40% + 25rem) center;
    }
}

footer .logo {
    width: 20rem;
    max-width: 100%;
    padding: 2rem;
    background-color: var(--color-white-100);
}

footer .content {
    margin-top: 10vh;
}

footer .content h4 {
    font-size: 1.4rem;
    font-weight: bold;
    width: 25rem;
    max-width: 100%;
}

footer .socials {
    margin-top: 3vh;
}

footer .socials a:not(:last-child) {
    margin-right: .5rem;
}

footer .socials svg {
    width: 2.5rem;
    height: 2.5rem;
    padding: .05rem;
    transition: all .2s ease-in-out;
    border-radius: 50%;
    background-color: var(--color-white-100);
}

footer .socials svg:hover {
    background-color: var(--color-black-900);
    fill: var(--color-white-100);
}