/* ================================================================ */
/* ==============================TEMP============================== */
/* ================================================================ */

.container {
    animation-name: container;
    animation-duration: 5s;
}

.container:not(.x) {
    padding: 0 1rem
}

main .container,
footer .container {
    margin-top: 4rem;
}

@keyframes container {
    0% {
        border: 1px solid yellow;
    }
    100% {
        border: 0 solid transparent;
    }
}

/* ================================================================ */
/* ============================END=TEMP============================ */
/* ================================================================ */

.container {
    width: 65rem;
    max-width: 100%;
    margin: 0 auto;
}

.hidden {
    display: none;
}

.no-scroll {
    overflow: hidden;
}

.arrow {
    width: 1rem;
    height: 1rem;
    cursor: pointer;
    transition: transform .2s ease-in-out;
    border: none;
    background-color: unset;
    background-image: url("../media/images/icons/arrow-right.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.arrow-left {
    transform: rotate(180deg);
}

.arrow:not(.arrow-left):hover,
#news li:hover .arrow {
    transform: rotate(-10deg) translateX(.5rem);
}

.arrow.arrow-left:hover {
    transform: rotate(190deg) translateX(.5rem);
}