/* ================================================================ */
/* ==============================TEMP============================== */
/* ================================================================ */

.container {
    animation-name: container;
    animation-duration: 5s;
}

.container:not(.x) {
    padding: 0 1rem
}

main .container {
    margin-top: 3rem;
}

@keyframes container {
    0% {
        border: 1px solid yellow;
    }
    100% {
        border: 0 solid transparent;
    }
}

/* ================================================================ */
/* ============================END=TEMP============================ */
/* ================================================================ */

.container {
    width: 65rem;
    max-width: 100%;
    margin: 0 auto;
}

.hidden {
    display: none;
}