@font-face {
    font-family: "Raleway";
    src: url("../fonts/Raleway Regular.woff2") format("woff2"),
    url("../fonts/Raleway Regular.woff") format("woff");
    font-weight: 400;
}

@font-face {
    font-family: "Raleway";
    src: url("../fonts/Raleway Italic.woff2") format("woff2"),
    url("../fonts/Raleway Italic.woff") format("woff");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "Raleway";
    src: url("../fonts/Raleway Bold.woff2") format("woff2"),
    url("../fonts/Raleway Bold.woff") format("woff");
    font-weight: 700;
}

@font-face {
    font-family: "Raleway";
    src: url("../fonts/Raleway Bold Italic.woff2") format("woff2"),
    url("../fonts/Raleway Bold Italic.woff") format("woff");
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: "Raleway";
    src: url("../fonts/Raleway Black.woff2") format("woff2"),
    url("../fonts/Raleway Black.woff") format("woff");
    font-weight: 900;
}

@font-face {
    font-family: "Raleway";
    src: url("../fonts/Raleway Black Italic.woff2") format("woff2"),
    url("../fonts/Raleway Black Italic.woff") format("woff");
    font-weight: 900;
    font-style: italic;
}

/* Defaults */
body,
button {
    font-family: "Raleway", Helvetica, Arial, sans-serif;
    color: var(--color-black-900);
}

/* Text */
h1,
h2,
h3,
h4 {
    font-weight: 900;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.4rem;
}

h3 {
    font-size: 1.8rem;
}

h4 {
    font-size: 1.2rem;
}

p {
    font-size: 1rem;
    font-weight: normal;
}

a {
    cursor: pointer;
}

/* Links */
a.x:not(header a) {
    text-decoration: none;
    color: var(--color-black-900)
}

a:not(.x) {
    transition: background .3s ease-in-out;
    color: var(--color-black-900);
    background-image: linear-gradient(to right, var(--color-gray-810) 0, var(--color-gray-810) 100%);
    background-repeat: no-repeat;
    background-position: 0 100%;
    background-size: 0 50%;
}

a:hover:not(.x) {
    background-size: 100% 50%;
}

/* Settings */
.txt__bold {
    font-weight: bold;
}

.txt__bold-black {
    font-weight: 900;
}