@font-face {
    font-family: "gf-icons";
    src: url("../fonts/gf-icons.woff") format("woff");
    font-weight: 100 !important;
}

@font-face {
    font-family: "Raleway";
    src: url("../fonts/Raleway Regular.woff2") format("woff2"),
    url("../fonts/Raleway Regular.woff") format("woff");
    font-weight: 400;
}

@font-face {
    font-family: "Raleway";
    src: url("../fonts/Raleway Italic.woff2") format("woff2"),
    url("../fonts/Raleway Italic.woff") format("woff");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "Raleway";
    src: url("../fonts/Raleway Bold.woff2") format("woff2"),
    url("../fonts/Raleway Bold.woff") format("woff");
    font-weight: 700;
}

@font-face {
    font-family: "Raleway";
    src: url("../fonts/Raleway Bold Italic.woff2") format("woff2"),
    url("../fonts/Raleway Bold Italic.woff") format("woff");
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: "Raleway";
    src: url("../fonts/Raleway Black.woff2") format("woff2"),
    url("../fonts/Raleway Black.woff") format("woff");
    font-weight: 900;
}

@font-face {
    font-family: "Raleway";
    src: url("../fonts/Raleway Black Italic.woff2") format("woff2"),
    url("../fonts/Raleway Black Italic.woff") format("woff");
    font-weight: 900;
    font-style: italic;
}

.icon,
h1.icon,
h2.icon,
h3.icon,
h4.icon,
div.icon,
span.icon,
label.icon,
button.icon,
.icon__after > *,
.icon__after_all *,
.icon__pseudo::after,
.icon__pseudo::before,
.icon__pseudo_after > *::after,
.icon__pseudo_after > *::before,
.icon__pseudo_after_all *::after,
.icon__pseudo_after_all *::before {
    font-family: "gf-icons";
    font-weight: 100;
}

/* Defaults */
body {
    font-family: "Raleway", Helvetica, Arial, sans-serif;
    color: var(--color-black-900);
}

input,
button,
label {
    font: inherit;
}

input,
button {
    cursor: pointer;
}

/* Text */
h1,
h2,
h3,
h4 {
    font-weight: 900;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.4rem;
}

h3 {
    font-size: 1.8rem;
}

h4 {
    font-size: 1.2rem;
}

p {
    font-size: 1rem;
    font-weight: normal;
}

a {
    cursor: pointer;
}

/* Links */
a.x:not(header a) {
    text-decoration: none;
    color: var(--color-black-900)
}

a:not(.x) {
    transition: background .5s ease-in-out;
    text-decoration: underline;
    color: var(--color-black-900);
    background-image: linear-gradient(to right, var(--color-gray-810) 0, var(--color-gray-810) 100%);
    background-repeat: no-repeat;
    background-position: 0 100%;
    background-size: 0 50%;
}

a:hover:not(.x) {
    background-size: 100% 50%;
}

/* Settings */
.txt__box {
    display: block;
}

.txt__bold {
    font-weight: bold;
}

.txt__bold-black {
    font-weight: 900;
}

.txt__center {
    text-align: center;
}